.logo-header-guest{
    margin-top: 80px;
    padding-left: 20%;
}

.button-header-guest {
    padding-right: 20%;
    align-self: center;
    text-align: end;
    margin-top: 80px;
}

.modal-login {
    left: 0%;
    padding-left: 80px;
    margin: auto;
    width: 30%;
}

.modal-register {
    left: 0%;
    padding-left: 80px;
    margin: auto;
    width: 30%;
}

.content-guest {
    justify-content: center;
}