.product-wrapper {
    position: relative;
    width: 241px;
    height: 392px;
    background: #F7DADA;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    .img-product {
        object-fit: cover;
        width: 241px;
        height: 312px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .product-name {
        margin-top: 8px;
        margin-left: 16px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;

        color: #BD0707;
    }
    .product-price {
        margin-top: -10px;
        margin-left: 16px;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;

        color: #974A4A;
    }
    .logo-product {
        position: absolute;
        top: 40%;
        left: 33%;
        width: 79px;
    }
}